<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
    <body style="background-color:teal;">
        <meta charset="utf-8">
        <title>Sentiment Analyser</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='food-favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
    </head>

    <body>
    <font color = "#000000">
    <body style="background-color:teal;">
        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Siemens Product </span> Sentiment Analyser</h2>
            <div class='description'>
    			<p>  </p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
        		<textarea class='message-box' name="message" rows="15" cols="75" placeholder="Enter Your Review Here..."></textarea><br/>
        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
        <div class='footer'>
            <div class="contact">
                <a target="_blank" href="https://github.com/subham1093/Sentiment-Analysis"><i class="fab fa-github fa-lg contact-icon"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/subham-tripathi"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
            </div>
            <p class='footer-description'>Developed by GBS IN 02C ES2</p>
        </div>

    </body>
</html>
